<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SMAES128Encryption.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90E059B31D33AF540029A543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90E059CF1D33AF580029A543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90E059DA1D33AF590029A543</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
